@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.animated-gradient {
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

.background-changer {
  
  background-color: red;
  animation-duration: 10s;
  animation-name: backgroundChangeAnimation;
  /* transition: all ease-in-out 500ms; */
}

@keyframes backgroundChangeAnimation {
  0% {background: red;}
  25% {background: purple;}
  50% {background: blue;}
  75% {background: orange;}
  100% {background: green;}
}

@keyframes backgroundChangeAnimation2 {
  0% {background-image: linear-gradient(to bottom, red, purple); 
  }
  25% {background-image: linear-gradient(to top, purple, blue);
  }
  50% {background-image: linear-gradient(to left, blue, orange);
  }
  75% {background-image: linear-gradient(to right, orange, yellow);
  }
  100% {background-image: linear-gradient(to bottom, yellow, green);
  }
}
.bg-images{
  background-image: url('/public/images/two.jpg');
}